/* ------------------------ IMPORTS ------------------------ */
@import 'https://fonts.googleapis.com/css?family=Ubuntu&display=swap';
/* --------------------------------------------------------- */

/* ------------------------ VARIABLES CSS ------------------------ */
:root {
    --white: #f9f9f9;
    --green: #5cb85c;
    --link: #cccaca;
    --blue:#428bca;
    --grey: #757575;

}
/* --------------------------------------------------------------- */

/* CAMBIOS GENERALES */
* {
    margin: 0px;
    padding: 0px;
}
/* -------------------------------------------------------------- */

/* ------------- COMPLEMENTOS : MENU.PHP ----------- */
/* ----------------- MENU -----------------------*/
.container-menu {
    display: grid;
    background-color: var(--green);
    padding: 10px;
}

.menu {
    float: left;
    position: relative;
    margin: auto;

}

.menu li {
    list-style: none;
}

.menu li a {
    text-decoration: none;
    font-family: 'Ubuntu', sans-serif;
    color: var(--white);
    display: block;
    padding: 10px 15px;
}

.menu li a:hover {
    color: var(--link);
    transition: 0.5s ease;
    -webkit-transition: 0.5s ease;
    -moz-transition: 0.5s ease;
    -o-transition: 0.5s ease;
}

.menu > li {
    float: left;
}

.submenu {
    display: none;
    z-index: 10;
}

.menu li:hover .submenu {
    display: block;
    min-width: 140px;
    position: absolute;
    background-color: var(--green);
    padding: 10px 20px;
}

.submenu li a:hover {
    color: var(--link);
}
/* -------------------------------------------------------------- */
/* -------------------------------------------------------------- */


/* ------------------- / : INDEX.PHP ---------------------------- */
/* ------------------------ CONTAINER CAROUSEL ------------------ */
.container-img {
    display: grid;
    grid-template-columns: repeat(7,1fr);
}

.container-img img {
    max-width: 100%;
    grid-column: 1/-1;
    left: 80%;
}

.container-img .descripcion-img {
    position: absolute;
    top: 20%;
    left: 60%;
    text-align: center;
}

.container-img .descripcion-img h1 {
    font-family: 'Ubuntu', sans-serif;
    color: var(--green);
    text-shadow: -4px 4px 0 #000;
    font-size: 80px;
}

.container-img .descripcion-img hr {
    border: 2px solid var(--green);
}

.container-img .descripcion-img h2 {
    font-family: 'Roboto', sans-serif;
    color: var(--grey);
    text-shadow: -2px 3px 0 #000;
    font-size: 50px;
}
/* -------------------------------------------------------------- */
/* -------------------------------------------------------------- */

/* --------------------- TITULOS --------------------- */
.container-titulo {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

.titulo {
    grid-column: 2/6;
    text-align: center;
    margin-top: 20px;
}

.titulo h1 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 50px;
    margin: 20px;
    color: var(--green);
    text-shadow: 3px  0px 0px black;
}

.titulo hr {
    border: 1px solid var(--green);
    margin: 20px;
}
/* -------------------------------------------------------------- */


/* ----------------------- CONTACTO ----------------------------- */
.container {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(11, 63px);
    border: 1px solid #000;
}

.container-contacto {
    grid-column: 3/8;
    text-align: center;
}

.container-contacto .titulo {
    grid-column: 4/7;
    grid-row: 1/1;
    position: relative;
    text-align: center;
}


.container-contacto .nombre {
    grid-column: 4/7;
    grid-row: 4/5;
    margin: 20px;
}

.nombre h2 {
    font-family: 'Ubuntu', sans-serif;
    margin: 10px;
}

.nombre input {
    box-sizing: content-box;
    width: 250px;
    height: 25px;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
}

.container-contacto .apellido {
    grid-column: 3/-1;
    grid-row: 3/3;
    margin: 20px;
}

.apellido h2 {
    font-family: 'Ubuntu', sans-serif;
    margin: 10px;
}

.apellido input {
    box-sizing: content-box;
    width: 250px;
    height: 25px;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
}

.container-contacto .telefono {
    grid-column: 3/6;
    grid-row: 4/5;
    margin: 20px;
}

.telefono h2 {
    font-family: 'Ubuntu', sans-serif;
    margin: 10px;
}

.telefono input {
    box-sizing: content-box;
    width: 250px;
    height: 25px;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
}

.container-contacto .correo {
    grid-column: 3/-1;
    grid-row: 4/5;
    margin: 20px;
}

.correo h2 {
    font-family: 'Ubuntu', sans-serif;
    margin: 10px;
}

.correo input {
    box-sizing: content-box;
    width: 250px;
    height: 25px;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
}

.container-contacto .mensaje {
    grid-column: 4/7;
    grid-row: 5/6;
    margin: 20px;
}

.mensaje h2 {
    font-family: 'Ubuntu', sans-serif;
    margin: 10px;
}

.mensaje textarea {
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
}

.container-contacto .boton-enviar {
    grid-column: 4/7;
    grid-row: 9/9;
}

.container-contacto .boton-enviar input {
    font-family: 'Ubuntu', sans-serif;
    width: 80px;
    height: 30px;
}

.container-contacto .boton-enviar input:hover {
    color: white;
    background-color: var(--green);
    transition: 0.4s ease;
    -webkit-transition: 0.4s ease;
    -moz-transition: 0.4s ease;
    -o-transition: 0.4s ease;
    border: 2px solid var(--green);
}
/* -------------------------------------------------------------- */

/* ---------------------------- LOGIN.PHP --------------------------- */

.container-login {
    grid-column: 3/8;
    grid-row: 3/-1;
    text-align: center;
}

.username {
    margin: 20px;
}

.username h2 {
    font-family: 'Ubuntu', sans-serif;
    margin: 10px;
}

.username input {
    box-sizing: content-box;
    width: 250px;   
    height: 20px;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
}

.password {
    margin: 20px;
}

.password h2 {
    font-family: 'Ubuntu', sans-serif;
    margin: 10px;
}

.password input {
    box-sizing: content-box;
    width: 250px;
    height: 20px;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
}

.boton-ingresar input {
    font-family: 'Ubuntu', sans-serif;
    width: 80px;
    height: 30px;
}

.boton-ingresar input:hover {
    color: white;
    background-color: var(--green);
    border: 2px solid var(--green);
    transition: 0.4s ease;
    -webkit-transition: 0.4s ease;
    -moz-transition: 0.4s ease;
    -o-transition: 0.4s ease;   
}


/* ------------------------------------------------------------- */